<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        {{ partial "top.html" . }}

        {{ partial "nav.html" . }}

        {{ partial "carousel.html" . }}

        <div class="container">
            <div class="row">
                <!--<h3><a href="https://www.airmeet.com/e/3124e6e0-8b3d-11eb-adfc-b1c12ad96800" target="_blank">Registration to the BioC2021 virtual conference is now open!</a></h3>-->
                <!-- <p class="text-primary text-large mb-small text-left">
                    </b>. 
                </p> -->
            </div>
            <div class="row">
                <h1>Registration is free and available through our <a href="https://www.eventbrite.com.au/e/bioc-asia-2021-tickets-163817050207">event page</a></h1>
                <!--<h2><b>September 8 (0:00 HST), 2021</b>: <a href="https://biocasia2021.bioconductor.org/submissions/">Call for abstracts opens</a></h2>-->
                <!--<h2>September 8(0:00 HST), 2021: 1st Call for abstracts opens</h2>-->
                <h3>September 30 (23:59 HST), 2021: First call for abstracts closed</h3>
                <h3>October 3, 2021: First notification of decision</h3>
                <br>
                <h2><b>October 3, (23:59 HST), 2021</b>: <a href="https://biocasia2021.bioconductor.org/submissions/">Second call for workshops opens</a></h2>
                <h2>October 8, (23:59 HST), 2021: Second notification of decision</h2>
                <br>
                <h4>Twitter hashtag: #biocasia2021
                <h4>More information: knishida__at__riken.jp</h4>
                Replace __at__ with @.
                </p>
        </div>
        </div>


        {{ partial "features.html" . }}

        {{ partial "testimonials.html" . }}

        {{ partial "speakers.html" . }}

        {{ partial "see_more.html" . }}

        {{ partial "recent_posts.html" . }}

        {{ partial "clients.html" . }}

        <!-- {{ partial "footer.html" . }} -->

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
