<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        {{ partial "top.html" . }}

        {{ partial "nav.html" . }}

        {{ partial "carousel.html" . }}

        <div class="container">
            <div class="row">
                <!--<h3><a href="https://www.airmeet.com/e/3124e6e0-8b3d-11eb-adfc-b1c12ad96800" target="_blank">Registration to the BioC2021 virtual conference is now open!</a></h3>-->
                <!-- <p class="text-primary text-large mb-small text-left">
                    </b>. 
                </p> -->
            </div>
            <div class="row">
                <h1>Registration is free and available through our <a href="https://www.eventbrite.com.au/e/bioc-asia-2021-tickets-163817050207">event page</a></h1>
                <!--<h2><b>September 7, 2021</b>: <a href="https://bioconductor.github.io/BiocAsia2021/submissions/">Call for abstracts opens</a></h2>-->
                <h2><b>September 8, 2021</b>: Call for abstracts opens</h2>
                <h2><b>September 30, 2021</b>: Call for abstracts closes</h2>
                <h2><b>October 8, 2021</b>: Notification of decision</h2>
                <br>
                <h4>More information: <a href="mailto:knishida@riken.jp?subject=BioC%20Asia%202021%20question">knishida@riken.jp</a></h4>
                </p>
        </div>
        </div>


        {{ partial "features.html" . }}

        {{ partial "testimonials.html" . }}

        {{ partial "speakers.html" . }}

        {{ partial "see_more.html" . }}

        {{ partial "recent_posts.html" . }}

        {{ partial "clients.html" . }}

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
