<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        {{ partial "top.html" . }}

        {{ partial "nav.html" . }}

        {{ partial "carousel.html" . }}

        <div class="container">
          <div class="row">
                <!--<h3><a href="https://www.airmeet.com/e/3124e6e0-8b3d-11eb-adfc-b1c12ad96800" target="_blank">Registration to the BioC2021 virtual conference is now open!</a></h3>-->
                <!-- <p class="text-primary text-large mb-small text-left">
                    </b>. 
                </p> -->
          </div>
          <div class="row">
            <table style="width:100%">
              <tr>
                  <th>Post-conference information (BioC Asia 2021 was truly amazing -- thanks, everyone.)</th>
                  <th>Tweets by <a href="https://twitter.com/Bioconductor" target="blank">@Bioconductor</a></th>
              </tr>
              <tr>
                  <td>
                      <ul>
                          <li>See all video recordings <a href="https://www.youtube.com/watch?v=q44v0GIEUnw&list=PLdl4u5ZRDMQRfq96AJSPBezELlGpCVfZq" target="blank">here</a></li>
                          <li>See all workshop materials <a href="https://biocasia2021.bioconductor.org/workshops/" target="blank">here</a></li>
                          <li>See all slides <a href="https://f1000research.com/gateways/bioconductor?selectedDomain=slides" target="blank">here</a></li>
                          <br>
                          <li><a href="https://docs.google.com/presentation/d/1dbbiYzPad3EtHkjBygfYQMbPE91SQvB_B_uhMh3Di7Q/edit?usp=sharing" target="blank">BioC Asia 2021 closing remarks</a></li>
                      </ul>
                  </td>
                  <td>
                      <a class="twitter-timeline" data-height="200" href="https://twitter.com/Bioconductor?ref_src=twsrc%5Etfw">Tweets by Bioconductor</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                  </td>
              </tr>
          </table>
          </div>
        </div>


        {{ partial "features.html" . }}

        {{ partial "testimonials.html" . }}

        {{ partial "speakers.html" . }}

        {{ partial "see_more.html" . }}

        {{ partial "recent_posts.html" . }}

        {{ partial "clients.html" . }}

        <!-- {{ partial "footer.html" . }} -->

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
